$borderGray: 0.01em solid lightgray
//general
.ml-10
    margin-left: 10%
ul
    list-style-type: none
//menu
.logo 
    height: 100%
//homepage
#homePage 
    button 
        background: white
        border: $borderGray
        border-radius: 3em
        position: relative
        top: 4em
//date picker
.applyBtn, .cancelBtn 
    display: none
.form-control 
    border: none
#sel1 
    width: 50%
.orangeAir
    background: #FF5A5F
#SerchHotel 
    position: relative
    bottom: 1em
    margin-left: 5%
.findHotels
    border-right: $borderGray
#datePicker
    border: $borderGray
//footer
.footerLine 
    border-top: $borderGray
#terminos
    height: 2em